.scale-on-hover {
 transition: scale .3s;
}

.scale-on-hover:hover {
  scale: 105%;
}

.more-on-hover {
  transition: all .3s;
}

.more-on-hover:hover .more-info {
  display: block;
}

.more-info {
  display: none;
}
