@if (run) {
  <div class="items-center rounded-xl w-full p-5 text-xl lg:border-2 border-[#d9d9e6] scale-on-hover more-on-hover ">
    <div class="flex flex-col lg:flex-row justify-between">
      <div>{{ run.date.toLocaleDateString() }}</div>
      <div>{{ run.distance }}m</div>
    </div>
    @if (run.calories || run.heart_rate || run.formatted_duration) {
      <div class="flex flex-row justify-between mt-5">
        @if (run.calories) {
          <div>{{ run.calories }}kcal</div>
        }
        @if (run.heart_rate) {
          <div>{{ run.heart_rate }}❤️</div>
        }
        @if (run.formatted_duration) {
          <div>{{ run.formatted_duration }}⏱️</div>
        }
      </div>
    }
  </div>
}
